@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* background-color: red; */
    height: 100vh;
    width: 100vw;
    font-family: 'Lexend Deca', sans-serif;
    
}
.whole-container{
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    /* height: 100vh;
    width: 100vw; */
}
.img-container, .img-container-two, .img-container-three{
    margin-left: 10%;
    margin-top: 10%;
}
.sedans, .suv, .luxury{
    text-transform: uppercase;
    color:  hsla(0, 0%, 100%, 0.75);
    margin-left: 10%;
    margin-top:8%;
    font-family: 'Big Shoulders Display', cursive;
    font-size: 25px;
}
.paragraphs{
    color: hsla(0, 0%, 100%, 0.75); 
    margin-top: 10%;
    margin-left: 10%; 
    font-size: small;
    line-height: 2;
}
.width{
    width: 370px;
}
.first-container{
    border-radius: 10px 10px 0px 0px;
    background-color:  hsl(31, 77%, 52%);
    height: 450px;
}
.second-container{
    background-color: hsl(184, 100%, 22%);
    /* margin-top: 30px; */
    height: 450px;
}
.third-container{
    background-color:hsl(179, 100%, 13%);
    border-radius: 0px 0px 10px 10px;
    height: 450px;
}
button{
    margin-top: 30px;
    margin-left: 10%;
    border: none;
    height: 50px;
    width: 140px;
    border-radius: 50px;
    font-size: 15px;
    text-align: center;
}
.attribution{
    margin-top: 30%;
}
.button-one{
    color:hsl(31, 77%, 52%) ;
    background-color:  white;
    margin-top: 30%;
}
.button-two{
    color:hsl(184, 100%, 22%) ;
    background-color: white;
    margin-top: 30%;
}
.button-three{
    background-color: white;
    color:hsl(179, 100%, 13%) ;
    margin-top: 30%;
}
.button-one:hover{
    background-color:hsl(31, 77%, 52%) ;
    border: white 3px solid;
    color: white;
}
.button-two:hover{
    background-color:hsl(184, 100%, 22%) ;
    border: white 3px solid;
    color: white;
}
.button-three:hover{
    background-color:hsl(179, 100%, 13%);
    border: white 3px solid;
    color: white;
}




