@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* background-color: red; */
    /* height: 100vh; */
    width: 100vw;
    font-family: 'Lexend Deca', sans-serif;
    
}
.whole-container{
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    /* height: 100vh;
    width: 100vw; */
    margin-top: 15%;
}
.img-container, .img-container-two, .img-container-three{
    margin-left: 10%;
    margin-top: 10%;
}
button{
    cursor: pointer;
}
.sedans, .suv, .luxury{
    text-transform: uppercase;
    color:  hsla(0, 0%, 100%, 0.75);
    margin-left: 10%;
    margin-top:8%;
    font-family: 'Big Shoulders Display', cursive;
    font-size: 25px;
}
.paragraphs{
    color: hsla(0, 0%, 100%, 0.75); 
    margin-top: 10%;
    margin-left: 10%; 
    font-size: 15px;
    line-height: 2;
    width: 240px;
    /* background-color: red; */
}
.width{
    width: 400px;
}
.first-container{
    border-radius: 10px 10px 0px 0px;
    background-color:  hsl(31, 77%, 52%);
    height: 500px;
}
.second-container{
    background-color: hsl(184, 100%, 22%);
    /* margin-top: 30px; */
    height: 500px;
}
.third-container{
    background-color:hsl(179, 100%, 13%);
    border-radius: 0px 0px 10px 10px;
    height: 500px;
}
button{
    margin-top: 30px;
    margin-left: 10%;
    border: none;
    height: 50px;
    width: 140px;
    border-radius: 50px;
    font-size: 15px;
    text-align: center;
    margin-bottom: 10%;
}
.attribution{
    margin-top: 30%;
}
.button-one{
    color:hsl(31, 77%, 52%) ;
    background-color:  white;
    margin-top: 15%;
}
.button-two{
    color:hsl(184, 100%, 22%) ;
    background-color: white;
    margin-top: 15%;
}
.button-three{
    background-color: white;
    color:hsl(179, 100%, 13%) ;
    margin-top: 20%;
}
.button-one:hover{
    background-color:hsl(31, 77%, 52%) ;
    border: white 3px solid;
    color: white;
}
.button-two:hover{
    background-color:hsl(184, 100%, 22%) ;
    border: white 3px solid;
    color: white;
}
.button-three:hover{
    background-color:hsl(179, 100%, 13%);
    border: white 3px solid;
    color: white;
}
 @media (min-width:1000px) {
     .whole-container{
        display: flex;
        background-color:  hsla(0, 0%, 100%, 0.75);
        flex-direction: row;
        /* background-color: red; */
        justify-content: center;
        /* align-items: center;
        align-content: center; */
        height: 30vh;
        /* width: 100vw; */
    } 
    .first-container{
        border-radius: 10px 0px 0px 10px;
        width: 300px;
    }
    .third-container{
        border-radius: 0px 10px 10px 0px;
        width: 300px;
    }
    .second-container{
        width: 300px;
    }
    .width{
        width: 200px;
    }
    button{
        cursor: pointer;
    }
    .paragraphs{
        margin-left: 15%;
    }
    body{
        margin-top: 15.5%;
    }
}




